.tit-ped
{
    
    text-align: center;
}
.ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.ftco-animate {
    opacity: 0;
    visibility: hidden;
}
.cargo {
    color: #009cda;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
}/* 
*{} */
.doc{
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #333944;
  margin: 0; padding: 0;
}
.box1{
  max-width: 300px;
  height: 300px;
  background: white;
  overflow: hidden;
  margin: 0; padding: 0;
}
.btn{
  border: none;
  margin-top: 1.5em;
  padding: 0.75em 1.5em;
  border-radius: 3px;

  font-family: Verdana, sans-serif;
  color: white;
  background: #1ac6d0;
  cursor: pointer;
  
}

.box1 img{
  width: 100%;
  height: auto;
  margin: 0; padding: 0;
}
@supports(object-fit: cover){
    .box1 img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}