<div class="pd-2" >
    <h1 class="titulo "><br> Pediatras <br><br> </h1>
    <div class="form-group">
        <div class="row ">
            <div class="card  col-xl-3 col-lg-6 col-md-12 col-sm-12 separar"
                *ngFor="let item of pediatras; let index = index" (click)="verPediatra(item)">
                <div class="box1">
                    <img class="staff" src="{{item.imagen}}">
                </div>
                <p style="text-align: center;">{{item.nombre}}</p>
                <p class="cargo">{{item.profesion}}</p>
            </div>
        </div>
    </div>
</div>
<br><br>