<div class="card col-xl-7 col-lg-7 col-md-12 col-sm-12">
    <br><br>
    <h1 class="subtitulo" style="text-align: center;">Realizar Publicación</h1>
    <br><br>

    <!-- <div [hidden]="imagenFormGroup.get('imagen').hasError('required')"> -->
    <div>
        <mat-vertical-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="tipoFormGroup">
                <form [formGroup]="tipoFormGroup">
                    <ng-template matStepLabel>Tipo de Publicación</ng-template>
                    <mat-form-field appearance="fill" class="col-10">
                        <mat-label>Seleccione Tipo de Publicación</mat-label>
                        <mat-select formControlName="tipo" [errorStateMatcher]="matcher">
                            <mat-option>Seleccione</mat-option>
                            <mat-option *ngFor="let t of tipos" [value]="t">{{t}}</mat-option>
                        </mat-select>
                        <mat-hint>Tipo Publicación.</mat-hint>
                        <mat-error *ngIf="tipoFormGroup.get('tipo').hasError('required')">Debe Ingresar el Tipo</mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext class="button is-info" *ngIf="!tipoFormGroup.get('tipo').hasError('required')">Siguiente</button>
                        <button mat-button matStepperNext disabled *ngIf="tipoFormGroup.get('tipo').hasError('required')" class="button is-info">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <!-- <div [hidden]="imagenFormGroup.get('tipo').hasError('required')">
            </div> -->

            <!-- img formGroup -->
            <mat-step [stepControl]="imagenFormGroup">
                <form [formGroup]="imagenFormGroup">
                    <ng-template matStepLabel>Imagen de publicación</ng-template>
                    Seleccione la Imagen que tendrá la Publicación. <br><br>
                    <div class="row">
                        <div class="input-group-prepend">
                            <!--  <span class="input-group-text">IMAGEN</span> -->
                            <div class="file ">
                                <label class="file-label col-12">
                                    <input class="file-input" type="file" accept=".png, .jpg" name="resume" (change)="handleImage($event)"
                                    formControlName="imagen">
                                    <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Seleccione Imagen...
                                    </span>
                                    </span>
                                </label>
                            </div>
                            <!-- <button class="button is-info" (click)="onUpload()">Subir</button> -->
                        </div>
                        <div [hidden]="!bandImg" class="col-xl-3 col-lg-3 col-md-10 col-sm-10">
                            <div class="box1">
                                <img src="{{source}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperNext class="button is-info" *ngIf="!imagenFormGroup.get('imagen').hasError('required')">Siguiente</button>
                        <button mat-button matStepperNext disabled *ngIf="imagenFormGroup.get('imagen').hasError('required')" class="button is-info">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <!-- end img formGroup -->
            <mat-step [stepControl]="tituloFormGroup">
                <form [formGroup]="tituloFormGroup">
                    <ng-template matStepLabel>Título Publicación</ng-template>
                    <mat-form-field class="col-10">
                        <mat-label>Título</mat-label>
                        <input matInput formControlName="titulo" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious class="button is-danger">Atrás</button>
                        <button mat-button matStepperNext class="button is-info" *ngIf="!tituloFormGroup.get('titulo').hasError('required')">Siguiente</button>
                        <button mat-button matStepperNext class="button is-info" disabled *ngIf="tituloFormGroup.get('titulo').hasError('required')">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="resumenFormGroup">
                <form [formGroup]="resumenFormGroup">
                    <ng-template matStepLabel>Resumen Publicación</ng-template>
                    <mat-form-field class="col-10">
                        <mat-label>Resumen</mat-label>
                        <textarea matInput formControlName="resumen" cols="100" rows="10"></textarea>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious class="button is-danger">Atrás</button>
                        <button mat-button matStepperNext class="button is-info" *ngIf="!resumenFormGroup.get('resumen').hasError('required')">Siguiente</button>
                        <button mat-button matStepperNext class="button is-info" disabled *ngIf="resumenFormGroup.get('resumen').hasError('required')">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="descripcion_largaFormGroup">
                <form [formGroup]="descripcion_largaFormGroup">
                    <ng-template matStepLabel>Descripción Publicación</ng-template>
                    <mat-form-field class="col-10">
                        <mat-label>Descripción de la Publicación</mat-label>
                        <textarea matInput formControlName="descripcion_larga" cols="30" rows="10"></textarea>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious class="button is-danger">Atrás</button>
                        <button mat-button matStepperNext class="button is-info" *ngIf="!descripcion_largaFormGroup.get('descripcion_larga').hasError('required')">Siguiente</button>
                        <button mat-button matStepperNext class="button is-info" disabled *ngIf="descripcion_largaFormGroup.get('descripcion_larga').hasError('required')">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Terminar</ng-template>
                <p *ngIf="!errores()">Casi terminamos. Haz Click en Publicar</p>
                <p *ngIf="errores()"> <strong>Quedan campos por llenar. Vuelve atrás.</strong> <br>
                    <span class="material-icons icon has-text-info">
            info
            </span>Los campos que faltan se indican de color gris.
                </p>
                <div>
                    <button mat-button matStepperPrevious class="button is-danger">Atrás</button>
                    <button mat-button (click)="onUpload()" class="button is-info" *ngIf="!errores()">Publicar</button>
                    <button mat-button (click)="onUpload()" class="button is-info" disabled *ngIf="errores()">Publicar</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>