<div class="card col-xl-6 col-lg-6 col-md-12 col-sm-12"> <br>
  <div class="" style="padding: 10%; text-align: center;">
    <div class="row ">
      <h1 class="subtitulo col-12">Editar Quienes Somos</h1> <br><br><br>
    </div>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="col-xl-11 col-lg-11 col-md-12 col-sm-12">
    <div class="">
      <div class="row">
        <mat-form-field  class=" col-12">
          <mat-label>Historia</mat-label>          
              <textarea style="text-align: justify;" class="col-xl-11 col-lg-11 col-md-12 col-sm-12" matInput cols="300" rows="10" placeholder="Digite Historia"  formControlName="historia"></textarea>
           </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field  class=" col-12">
          <mat-label>Misión</mat-label>          
              <textarea style="text-align: justify;" class="col-xl-11 col-lg-11 col-md-12 col-sm-12" matInput cols="100" rows="10" placeholder="Digite Misión"  formControlName="mision"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field  class=" col-12">
          <mat-label>Visión</mat-label>         
              <textarea style="text-align: justify;" class="col-xl-11 col-lg-11 col-md-12 col-sm-12" matInput placeholder="Digite Visión" formControlName="vision" cols="100" rows="10"></textarea>
        </mat-form-field>
      </div>
    </div>
    <button class="button is-info " >Guardar</button>
  </form>
</div>