
<mat-card>
  <mat-card-header>
    <mat-card-title class="titulo">
      <div class="row">
        {{noticia.tipo|uppercase}}:
      </div>
      <div class="row">
        <small class="pd-1">
        fecha:  {{noticia.fecha.seconds*1000|date:'MM/dd/yyyy'}}
      </small>
      </div>
      
      
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h1 class="subtitulo">{{noticia.titulo}}</h1>  
    
    <p class="texto">{{noticia.descripcion_larga}}</p>
    <img src="{{noticia.imagen}}" alt="">
  </mat-card-content>
</mat-card>
<br>
<button class="button is-info derecha"  (click)="ok()" >OK</button>