<!-- <div class="row pd-2">
    <div class="col-xl-8  col-lg-7  col-md-6  col-sm-12  ">
        <h1 class="titulo" style=""><br>Videos<br><br> </h1>
    </div>
</div>
<div class="container mt-2">
    <div class="col-xs-12">
        <div class="center-block">
            <youtube-player videoId="8pCzrNP2K1E" suggestedQuality="highres">

            </youtube-player>
        </div>
    </div>
</div>
<br><br> -->
<!-- Calidad del video= default, small, medium, large, hd720, hd1080 -->

<div class="row pd-2">
    <div class="col-xl-8  col-lg-7  col-md-6  col-sm-12 ">
        <h1 class="titulo" style=""><br> {{tipo}} <br><br> </h1>
        <div class="" *ngFor="let videos of videos">
            <h2 class="encabezado">{{videos.titulo}}</h2>
            <!-- <p class="center-block">
                {{videos.resumen}}
            </p> -->
            <!-- <img src="{{videos.imagen}}" alt="covid"> -->
            <br>
            <youtube-player videoId="{{videos.resumen}}" suggestedQuality="highres">
            </youtube-player>
            <br>
            <h3>{{videos.resumen}}</h3>
        </div>
    </div>

    <div class="col-xl-4  col-lg-5  col-md-6  col-sm-12  " style="padding-top: 4cm;">

        <app-categorias-video></app-categorias-video>
    </div>
</div>
<br><br>