.titulo
{
    font-weight: 700;
    color: #081145;
    font-size: 50px;
}
.btn-ingresar
{
    background-color: white;
    color:#081145; 
    height: 1cm;
}
.btn-salir
{
    background-color: #d9534f;
    color:white;
    height: 1cm;
}
