<div class="card pd-1"> 
  <h1 class="subtitulo col-xl-7 col-lg-7 col-md-12 col-sm-12">LISTADO DE PEDIATRAS</h1>
      
        <button class="button is-link col-xl-2 col-lg-2 col-md-6 col-sm-6" mat-raised-button  (click)="agregar()">
          <span class="material-icons">
            add_circle
          </span>
          Agregar Pediatra
        </button>
        <div class="card mat-elevation-z8 col-xl-5 col-lg-5 col-md-12 col-sm-12" >
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- nombre Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td style="padding-right:5%;" mat-cell *matCellDef="let row"> <strong>{{row.nombre}}</strong>: </td>
            </ng-container>
            <!-- tipo Column -->
            <ng-container matColumnDef="profesion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Profesion </th>
              <td style="padding-right:5%;" mat-cell *matCellDef="let row"> {{row.profesion}} </td>
            </ng-container>
            <!-- estado Opciones -->
            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> OPCIONES </th>
              <td mat-cell *matCellDef="let row">
                <a (click)="verPediatra(row)"><span class="material-icons icon has-text-info md-18">
                    visibility
                  </span></a>
                <a (click)="editarPediatra(row)"><span class="material-icons icon has-text-info md-18">
                    edit
                  </span></a>
                <a (click)="eliminar(row)"><span class="material-icons icon has-text-info md-18">
                    delete
                  </span></a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- Row shown when there is no matching data. -->
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
  <br><br>
  
    
</div>