<br><br>
<h1 class="titulo pd-2">Para Padres</h1> <br><br><br>

<div class="row">
    <div class="col-lg-7 col-xl-7 col-md-12 col-xs-12">
        <div class="form-group pd-1" style="padding-left: 1cm;">
            <div class="row">
                <mat-card class="col-xl-6 col-xs-12 col-md-6 separar redondear"
                    *ngFor="let item of padres; let index = index"  >
                    <a class="tituloPadres"  style="color: black; text-align: center; max-width: 4cm;" (click)="verPadre(item)">{{item.titulo}}</a>
                    <p class="texto"  style="text-align: justify; width: auto; max-width: 8cm;">{{item.resumen}}</p>
                    
                </mat-card>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-5 col-md-12 col-xs-12 " style="padding-right: 1cm;" >
        <img src="../../../../../assets/about.jpg" alt="">
    </div>
</div>
<br><br>