<h1>{{tipo|uppercase}} RECIENTES</h1><br>
<div class="card col-xl-12 col-lg-12 col-md-12 col-sm-12">

    <div class="" *ngFor="let item of noticias" style="padding-top: 1cm; padding-bottom: 1cm;">

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="box1">
                    <img src="{{item.imagen}}" alt="">
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                <div class="row">
                    <a (click)="verNoticia(item)">{{item.titulo}}</a>
                </div>
                <div class="row">
                    <small style="padding-top: 15%;">
            fecha:  {{item.fecha.seconds*1000|date:'MM/dd/yyyy'}}
          </small>
                </div>
            </div>
        </div>
    </div>

</div>






<!-- <mat-accordion *ngFor="let item of noticias" >
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.titulo}}
            </mat-panel-title>
            <mat-panel-description>
                {{panelOpenState ? 'Ocultar ' : 'Ver '}} 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <a (click)="verNoticia(item)" >{{item.resumen}}</a>
    </mat-expansion-panel>
  </mat-accordion> -->