<div class="card">
    <h1 class="titulo pd-1">EDITAR ELEMENTO</h1>
    <br><br><br>

    <form [formGroup]="formulario">
        <div class="pd-1">
            <div class="row">
                <mat-form-field class="col-8">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="tipo">
                        <mat-option>Seleccione</mat-option>
                        <mat-option *ngFor="let t of tipos" [value]="t">{{t}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-8">
                    <mat-label>Título</mat-label>
                    <div class="columns">
                        <div class="column is-full">
                            <input matInput placeholder="Digite titulo" formControlName="titulo">
                        </div>
                    </div>
                </mat-form-field>
            </div>
            <div class="row">

                <mat-form-field class="col-8">
                    <mat-label>Resumen</mat-label>
                    <textarea matInput formControlName="resumen" class="resumen" cols="30" rows="10"></textarea>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-8">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="descripcion_larga" cols="30" rows="10"></textarea>
                </mat-form-field>
            </div>
            <div class="" id="imagen">
                <div class="box1 col-xl-3 col-lg-3 col-md-10 col-sm-10">
                    <img *ngIf="imageBandera" src="{{source}}" alt="">
                    <img *ngIf="!imageBandera" src="{{noticia.imagen}}" alt="">
                </div>
                <div class="input-group-prepend ">
                    <span class="input-group-text">IMAGEN</span>
                    <div class="file">
                        <label class="file-label">
              <input class="file-input" type="file" accept=".png, .jpg" name="resume" (change)="handleImage($event)">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Seleccione Imagen.
                </span>
              </span>
            </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="der">
        </div>
    </form>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12"></div>
        <div class="row col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <button class="button is-danger col-xl-6 col-lg-6 col-md-6 col-sm-12" (click)="cancel()">Cancelar</button>
            <button *ngIf="errores()" disabled class="button is-info col-xl-6 col-lg-6 col-md-6 col-sm-12" (click)="onSubmit()">Guardar</button>
            <button *ngIf="!errores()" class="button is-info col-xl-6 col-lg-6 col-md-6 col-sm-12" (click)="onSubmit()">Guardar</button>
            <br><br>
        </div>

    </div>