<div class="card">
  <h1 class="titulo pd-1"> EDITAR PEDIATRA</h1>
  <br><br><br>
  <form [formGroup]="formulario">
    <div class="pd-1">
      <div class="row">
        <mat-form-field class="col-8">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Digite nombre" formControlName="nombre">
          <mat-error *ngIf="this.formulario.get('nombre').hasError('pattern') && !this.formulario.get('nombre').hasError('required')">
            Nombre inválido (sólo caracteres tipo texto) 
           </mat-error>
           <mat-error *ngIf="this.formulario.get('nombre').hasError('required')">
             El Nombre es requerido
           </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-8">
          <mat-label>Profesión</mat-label>
          <input matInput placeholder="Digite profesión" formControlName="profesion">
          <mat-error *ngIf="this.formulario.get('profesion').hasError('pattern') && !this.formulario.get('profesion').hasError('required')">
            Profesión inválida (sólo caracteres tipo texto) 
           </mat-error>
           <mat-error *ngIf="this.formulario.get('profesion').hasError('required')">
             La profesión es requerida
           </mat-error>
        </mat-form-field>
      </div>
      <div class="row">

        <mat-form-field class="col-8">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcion" class="resumen" cols="30" rows="10"></textarea>
          <mat-error *ngIf="this.formulario.get('descripcion').hasError('required')">
            La descripción es requerida
          </mat-error>
        </mat-form-field>
      </div>

      <div class="">
        <div class="box1 col-xl-3 col-lg-3 col-md-10 col-sm-10">
          <img *ngIf="imageBandera" src="{{source}}" alt="">
          <img *ngIf="!imageBandera" src="{{pediatraRef.imagen}}" alt="">
        </div>
        <br>
        <div class="input-group-prepend ">
          <span class="input-group-text">IMAGEN</span>
          <div class="file">
            <label class="file-label">
              <input class="file-input" type="file" accept=".png, .jpg" name="resume" (change)="handleImage($event)">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Seleccione Imagen.
                </span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12"></div>
    <div  class="row col-xl-4 col-lg-4 col-md-12 col-sm-12"  >
    <button class="button is-danger col-xl-6 col-lg-6 col-md-6 col-sm-12" (click)="cancel()">Cancelar</button>
    <button *ngIf="errores()" disabled class="button is-info col-xl-6 col-lg-6 col-md-6 col-sm-12" (click)="onSubmit()">Guardar</button>
    <button *ngIf="!errores()" class="button is-info col-xl-6 col-lg-6 col-md-6 col-sm-12" (click)="onSubmit()">Guardar</button>
  </div>
  <br><br>
</div>