/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.titulo
{
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    color: #005191;
    font-size: 50px;
}
.subtitulo
{  font-family: "Roboto", Arial, sans-serif;
    color: #009cda;
    line-height: 1.2;
    font-size: 40px;
    font-weight: 700;
}
.texto
{
    
    text-align: justify;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.encabezado
{
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
}
.pd-1
{
    padding-left: 1cm;
    padding-right: 1cm;
}
.pd-2
{
    padding-left: 2cm;
    padding-right: 2cm;
}
.pd-4
{
    padding-left: 4cm;
    padding-right: 4cm;
}
.staff {
    border-radius: 152px 152px 152px 152px;
    -moz-border-radius: 152px 152px 152px 152px;
    -webkit-border-radius: 152px 152px 152px 152px;
    border: 0px solid #000000;
    width: 80%;
    
}
.cntr
{
    text-align: center; 
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.navbar-nav > .active {
    color: black!important; 
    background-color: white; 
  }
.datos
{
    text-align: center; 
    background-color: #f5efef; 
    height: 1cm;
}
.footergray
{
    background-color: #f5efef; 
}
.down1
{
    position: relative; 
    top: 0.1cm;
}
.down2
{
    position: relative; 
    top: 0.2cm;
}
.ft{
    height: 3cm;
    background-color: #009CDA;
}
.up2
{
    position: relative; 
    
}
.down4
{
    position: relative; 
    top: 0.4cm;
}
.down3
{
    position: relative; 
    top: 0.3cm;
}
.down4L
{
    position: relative; 
    top: 4cm;
}
.tag
{
    font-size: 60%;
    background-color: #f5efef; 
}
.im-cont
{
    height: 200%;
    align-self: center;
}
.cont-title
{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.cont-text
{
    font-family: "Roboto", Arial, sans-serif;
    background: #fff;
    font-size: 17px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
.centrar
{
    align-self: center;
    text-align: center;
    align-content: center;
}
.derecha
{
   position: relative;
   left: 85%;
}
.izquierda
{
    text-align: left;
}
.negro
{
    color: #000000;
}
.downText
{
    padding-top: 0.2cm;
}


.activo
{
    color: #005191; 
    background-color: white;
    text-decoration:none;
    background-size: 20%;
}

.maxWidth
{
    width: 6cm;
}
.cardAuto
{
    width: auto;
    height: auto;
}
.num{
    font-family: "Roboto", Arial, sans-serif;
    background: #fff;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    position: relative; left: 0.5cm;
}
.separar
{
    border-radius: 46px 46px 46px 46px;
    -moz-border-radius: 46px 46px 46px 46px;
    -webkit-border-radius: 46px 46px 46px 46px;
    border-collapse: separate;
    border-spacing: 10px 5px;
    border: 20px solid #fafafa;
}

.w-auto
{
    width: auto;
}
.greenActive
{
    background-color:  rgb(3, 56, 3);
}
.green
{
    background-color: green;
}
.w-max
{
    width: max-content;
}
.mat-cell {
    padding: 100px 8px 8px 0;
  }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
