<div class="card">
  <br><h1 class="titulo" style="text-align: center;">AGREGAR PEDIATRA</h1>
  <br><br><br>
  <div class="row ">
    <div class="input-group-prepend ">
     <br><br><br>
      <div class="file col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding-left: 15%;">
        <label class="file-label col-xl-12 col-lg-12 col-md-12 col-sm-12" >
          <input class="file-input " type="file" accept=".png, .jpg" 
          name="resume" (change)="handleImage($event)"
          >
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label col-12">
              Seleccione Imagen.
            </span>
          </span>
        </label>
      </div>
      <!-- <button class="button is-info" (click)="onUpload()">Subir</button> -->
    </div>
  </div>
  <div class="box1" *ngIf="imageBandera">
    <img style="padding-left: 10%;" *ngIf="imageBandera"  src="{{source}}" alt="">
  </div>
  <form [formGroup]="formulario">
   <div class="row">
     <mat-form-field class="pd-2 col-xl-6 col-lg-6 col-md-6 col-sm-12">       
      <mat-label>Nombre: </mat-label>
      <input matInput formControlName="nombre"  required>
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    <mat-error *ngIf="this.formulario.get('nombre').hasError('pattern') && !this.formulario.get('nombre').hasError('required')">
     Nombre inválido (sólo caracteres tipo texto) 
    </mat-error>
    <mat-error *ngIf="this.formulario.get('nombre').hasError('required')">
      El Nombre es requerido
    </mat-error>
    </mat-form-field>
   </div>
    <div class="row">
      <mat-form-field class="pd-2 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <mat-label>Profesión: </mat-label>
      <input matInput formControlName="profesion"  required>
      <mat-error *ngIf="this.formulario.get('profesion').hasError('pattern') && !this.formulario.get('profesion').hasError('required')">
        Profesión inválida (sólo caracteres tipo texto) 
       </mat-error>
       <mat-error *ngIf="this.formulario.get('profesion').hasError('required')">
         La profesión es requerida
       </mat-error>
    </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="pd-2 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <mat-label>Descripción: </mat-label>
      <input matInput formControlName="descripcion"  required>
      <mat-error *ngIf="this.formulario.get('descripcion').hasError('required')">
        La descripción es requerida
      </mat-error>
    </mat-form-field>
    </div>
  </form>
  <br>
 <div class="row">
  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12"></div>
  <div  class="row col-xl-4 col-lg-4 col-md-12 col-sm-12"  >
    <button (click)="cancel()" class="button is-danger col-xl-6 col-lg-6 col-md-6 col-sm-12">Cancelar</button>
    <button *ngIf="errores()"  disabled (click)="onUpload()" class="button is-info col-xl-6 col-lg-6 col-md-6 col-sm-12 ">Guardar</button>
    <button *ngIf="!errores()"  (click)="onUpload()" class="button is-info col-xl-6 col-lg-6 col-md-6 col-sm-12 ">Guardar</button>
  </div>
 </div>
</div>

   
 