<div class="pd-2-perc">
    <div class="col-xl-8  col-lg-7  col-md-12  col-sm-12">
        <h1 class="titulo col-12">
            <br> Quienes somos <br><br>
        </h1>
    </div>
    <div class="col-xl-8  col-lg-7  col-md-12  col-sm-12">
        <div class="pd-2-perc">
            <h2 class="subtitulo ">HISTORIA</h2>
            <p class="texto col-12" *ngFor="let item of qs">
                {{item.historia}}
            </p>
        </div>
        <br><br>
        <div class="pd-2-perc">
            <h2 class="subtitulo ">MISIÓN</h2>
            <p class="texto col-12" *ngFor="let item of qs">
                {{item.mision}}
            </p>
        </div>
        <br><br>
        <div class="pd-2-perc">
            <h2 class="subtitulo ">VISIÓN</h2>
            <p class="texto" *ngFor="let item of qs">
                {{item.vision}}
            </p>
        </div>
        <br><br>
    </div>
</div>