<img src="../../../assets/bg_2.jpg" alt="">
<mat-card style="height: 2cm; background-color: #009CDA;">
    <h1 class="down6 " style="text-align: center;">NOTICIAS</h1>
</mat-card>

<div class="col-xl-12  col-lg-12  col-md-12  col-sm-12">
    <div class="columns is-centered">
        <div class="column is-half">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let n of noticias">
                    <figure class="image is-100x100">
                        <div class="picsum-img-wrapper">
                            <div class="box1">
                                <img [src]="n.imagen" alt="Random first slide" height="100">
                            </div>
                        </div>
                    </figure>
                    <div class="carousel-caption">
                        <!-- <h3>{{n.titulo}}</h3> -->
                        <!-- 
                        <p>{{n.resumen}}</p> -->
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

    </div>
</div>