
<mat-card>
  <mat-card-header>
    <mat-card-title class="titulo">
      VER PEDIATRA
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h1 class="titulo">{{p.nombre}}</h1> 
    <h1 class="subtitulo">{{p.profesion}}</h1>  
    <p class="texto">{{p.descripcion}}</p>
    <div class="box">
      <img class="pd-4" src="{{p.imagen}}" style="max-height: 10cm;">
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="button is-info" style="position: relative; left: 80%;" (click)="ok()" >OK</button>
  </mat-card-actions>
</mat-card>
<br>
